# database credential - postgres
dbPassword=999999
dbDatabase=platform
dbHost=192.168.X.XXX
dbPort=5432
dbUsername=postgres
dbSynchronize=true
dbSchema=public

natsServers="nats://192.168.2.240:4222"
